<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/addTrainerModal.css" />
    <script src="/js/modal.js" defer></script>
  </head>
  <body>
    <%- include('navbar') %>
    <main class="main-content">
      <div class="content-header">
        <h1><%= title %></h1>
        <button id="openModalBtn" type="button">Add Trainer</button>
      </div>
      <ul class="trainer-list-container">
        <% trainers.forEach(trainer => { %>
        <li data-serial-id="<%=trainer.id%>">
          <a href="/trainers/<%= trainer.id %>">
            <div class="trainer-img-container">
              <img src="<%=trainer.img_url %>" alt="<%=trainer.name%>" />
            </div>
            <div class="pokemon-name">
              <%=capitalizeFirstChar(trainer.name) %>
            </div>
          </a>
        </li>
        <% })%>
      </ul>

      <div id="addTrainerModal" class="modal">
        <div class="modal-content">
          <span class="close-btn">&times;</span>
          <form action="/trainers/add" method="POST">
            <h2>Add New Trainer</h2>
            <div class="add-trainer-input-container">
              <label for="name">Trainer Name:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div>
              <input
                type="radio"
                id="gender-male"
                name="gender"
                value="m"
                required
              />
              <label for="gender-male">Male</label>
              <input
                type="radio"
                id="gender-female"
                name="gender"
                value="f"
                required
              />
              <label for="gender-female">Female</label>
            </div>
            <button class="submit-btn" type="submit">Add Trainer</button>
          </form>
        </div>
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
